{% extends 'layout/layout.html' %}
{% block body %}
{% include 'layout/search.html' %}
<tr><th colspan="5">מלאי מחסן</th></tr>
<tr>
<th><button class="btn btn-warning btn-lg" onclick="location.href='/download?csv=&storage='">יצוא</button> </th>
<th colspan="10">מלאי נוכחי</th>
</tr>
<tr>
    <th>שם פריט</th>
    <th>כמות</th>
    <th colspan="2"></th>
</tr>
{% for i in data['inv']['actual'] %}
{% if data['inv']['actual'][i] > 0 %}
{% endif %}
<tr dir="ltr">
    <td>{{i}}</td>
    {% if not data['inv']['total'][i] %}
    {% endif %}
    <td>{{data['inv']['actual'][i]}}/{{data['inv']['total'][i]}}</td>
    <td colspan="2"></td>
</tr>
<!--endif-->
{% endfor %}
<tr>
    <th colspan="10">מקור מלאי</th>
</tr>
{% for doc in data['docs'] %}
<tr>
    <th colspan="3"><button type="button" onclick="location.href='/ret_storage'">זיכוי</button>יחידה מספקת: {{doc['from']['name']}}</th>
    <th>{{doc['date'].strftime('%d-%m-%Y %H:%M')}} </th>
</tr>
{% for item in doc['items'] %}
<tr>
    <td>{{item['description']}}</td>
    <td>{{item['quantity']}}</td>
    <td colspan="2">{{item['note']}}</td>
</tr>
{% endfor %}
{% endfor %}
{% endblock %}