{% extends 'layout/layout.html' %}
{% block body %}
{% include 'layout/search.html' %}
<tr>
    <td colspan="5" style="text-align:right;"><button type="button" class="btn btn-lg btn-warning" style="width:320px;border-radius: 70px;" onclick="location.href='/personal?new='">הוסף</button> </td>
</tr>
<tr>
    <th>שם מלא</th>
    <th>מ.א.</th>
    <th>פעולות</th>
</tr>
{% for u in users %}
<tr>
    <td>{{u.name}} {{u.last_name}}</td>
    <td>{{u.id}}</td>
    <td>
        <button class="btn btn-primary btn-lg" type="button" onclick="location.href='/personal?id={{u.id}}';">פעולות</button>
    </td>
</tr>
{% endfor %}
{% endblock %}