{% extends 'layout/layout.html' %}
{% block body %}
<tr><th colspan="5">זיכוי ציוד</th></tr>
{% if data.docs %}
<form method="POST">
    <tr><td colspan="5">{{data.docs[0].id}} {{data.docs[0].name}} {{data.docs[0].last_name}}</td></tr>
    <input type="hidden" name="id" value="{{data.docs[0].id}}">
    <tr>
        <th>פריט</th>
        <th>כמות חתום</th>
        <th>כמות זיכוי</th>
    </tr>
    {% for doc in data.docs %}
    {% for l in doc['items'] %}
    <tr>
        <td>{{l.description}}</td>
        <td>{{l.quantity}}</td>
        <td><input class="gsign_inpt" type="number" name="{{doc.date}}|{{l.description}}|{{loop.index0}}" min="1" max="{{l.quantity}}" placeholder="זיכוי"></td>
    </tr>
    {% endfor %}
    {% endfor %}
    <tr>
        <td><button type="submit" class="btn btn-lg btn-success">אישור</button> </td>
        <td></td>
        <td><button type="button" class="btn btn-lg btn-danger" onclick="history.back()">חזור</button> </td>
    </tr>
</form>
{% else %}
    <tr><th>בחר מרשימה</th><th>הזן מס אישי</th></tr>
    <tr>
        <td>
            <select class="sign_inpt" name="full_name" id="full_name" onchange="update_id(this.value)">
                <option style="display:none" value="" selected>בחר חייל</option>
                {% for u in users %}
                <option value="{{u.id}}">{{u.name}} {{u.last_name}}</option>
                {% endfor %}
            </select>
        </td>
        <form method="POST">
        <td colspan="5"><input class="sign_inpt" size="8" type="number" name="id" id="id" placeholder="מספר אישי" onchange="get_info(this.value)" required autofocus></td>
        </form>
    </tr>
    <tr><td colspan="5"><button class="btn btn-success btn-lg">אישור</button> </td> </tr>
    {% if data.msg %}
    <tr><td colspan="5"><label style="color:red;">{{data.msg}}</label></td></tr>
    {% endif %}
{% endif %}
{% endblock %}