<form method="POST" action="/sign_gas" autocomplete="off" enctype="multipart/form-data">
    <input type="hidden" name="add_new" id="add_new" value="false">
    <tr>
        <th colspan="5">החתמה כ. דלק</th>
    </tr>
    <tr>
        <td colspan="5"><input class="sign_inpt" size="8" type="number" name="id" id="id" placeholder="מספר אישי" onchange="get_info(this.value)" required autofocus></td>
    </tr>
    <tr>
        <td colspan="2"><input class="sign_inpt" size="8" name="name" id="name" placeholder="שם פרטי" required></td>
        <td colspan="5"><input class="sign_inpt" size="8" name="last_name" id="last_name" placeholder="שם משפחה" required></td>
    </tr>
    <tr>
        <td colspan="2"><input class="sign_inpt" size="8" name="department" id="department" placeholder="מחלקה" required></td>
        <td colspan="5"><input class="sign_inpt" size="8" name="rank" id="rank" placeholder="דרגה" required></td>
    </tr>
    <tr>
        <td colspan="2"><input class="sign_inpt" size="8" type="number" name="phone" id="phone" placeholder="טלפון" required></td>
        <td colspan="5"><input class="sign_inpt" size="8" type="number" name="car_plate" id="car_plate" placeholder="מס רכב"></td>
        <td></td>
    </tr>
    <tr>
        <th>כמות</th>
        <th>סידורי התחלה</th>
        <th>סידורי סוף</th>
    </tr>
    <tr>
        <td><input class="gsign_inpt" type="number" min="1" id="quantity" name="quantity" placeholder="כמות" required></td>
        <td><input class="gsign_inpt" type="number" name="serial_s" id="serial_s" placeholder="סידורי" onchange="gas_qnty()"></td>
        <td><input class="gsign_inpt" type="number" name="serial_e" id="serial_e" placeholder="עד סידורי" onchange="gas_qnty()"></td>
    </tr>
    <tr>
        <th>נפח</th>
        <th>סוג</th>
        <th>ק"מ</th>
    </tr>
    <tr>
        <td><input class="gsign_inpt" type="number" min="1" id="liter" name="liter" placeholder="ליטרים" required></td>
        <td>
            <select name="type" required>
                <option style="display:none" value="" selected>בחר סוג</option>
                <option value="בנזין">בנזין</option>
                <option value="סולר">סולר</option>
            </select>
        </td>
        <td><input class="gsign_inpt" type="number" min="1" id="km" name="km" placeholder="ק''מ" required></td>
    </tr>
    <tr><td>הוסף תמונה:</td><td colspan="5"><input class="file_btn" type="file" name="file" accept="image/*" capture="camera"></td></tr>
    <tr>
        <td colspan="5"><button type="submit" class="btn btn-success btn-lg">אישור</button></td>
    </tr>
</form>