{% extends 'layout/layout.html' %}
{% block body %}
<form method="POST" action="/sign" autocomplete="off">
    <tr>
        <th colspan="5">החתמה על ציוד</th>
    </tr>
    <tr>
        <td colspan="2"><input class="sign_inpt" size="8" type="number" name="id" id="id" placeholder="מספר אישי" onchange="get_info(this.value)" required autofocus></td>
        <td colspan="2">
            {% include 'layout/fulname_autocomplete.html' %}
        </td>
    </tr>
    <tr>
        <td colspan="2"><input class="sign_inpt" size="8" name="name" id="name" placeholder="שם פרטי" required></td>
        <td colspan="5"><input class="sign_inpt" size="8" name="last_name" id="last_name" placeholder="שם משפחה" required></td>
    </tr>
    <tr>
        <td colspan="2"><input class="sign_inpt" size="8" name="department" id="department" placeholder="מחלקה" required></td>
        <td colspan="5"><input class="sign_inpt" size="8" name="rank" id="rank" placeholder="דרגה" required></td>
    </tr>
    <tr>
        <td colspan="2"><input class="sign_inpt" size="8" type="number" name="phone" id="phone" placeholder="טלפון" required></td>
        <td colspan="5"><input class="sign_inpt" size="8" type="number" name="car_plate" id="car_plate" placeholder="מס רכב"></td>
        <td></td>
    </tr>
    <tr>
        <th>שם</th>
        <th>כמות</th>
        <th>הערה</th>
    </tr>
    {% for i in range(30) %}
    {% if i > 2 %}
    <tr style="display:none;" id="row{{loop.index0}}">
    {% else %}
    <tr id="row{{loop.index0}}">
    {% endif %}
        <td>
            <input class="sign_inpt" list="prod" size="8" name="item{{loop.index0}}" id="item{{loop.index0}}" onchange="add_required('quantity{{loop.index0}}', this.value)" placeholder="שם פריט" {% if loop.index0==0 %}required{% endif %}>
        </td>
        <td><input class="sign_inpt" size="2" type="number" name="quantity{{loop.index0}}" id="quantity{{loop.index0}}" placeholder="כמות"></td>
        <td><input class="sign_inpt" size="10" name="note{{loop.index0}}" placeholder="הערה"></td>
    </tr>
    {% endfor %}
    <tr>
        <td><button type="submit" class="btn btn-success btn-lg">אישור</button></td>
        <td></td>
        <td><button type="button" onclick="add_row()" class="btn btn-primary btn-lg">+שורה</button></td>
    </tr>
</form>
<datalist id="prod">
    {% for i in data['items'] %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
</datalist>
<script>
    var items = {{data|tojson|safe}}.items;
    {% if data.id %}
    var pid = {{data.id}};
    {% endif %}
    if (typeof pid !== 'undefined'){
        document.getElementById('id').value = pid;
    }
</script>
{% endblock %}