{% extends 'layout/layout.html' %}
{% block body %}
{% include 'layout/search.html' %}
<tr><th colspan="5">זיכוי מחסן דלק</th></tr>
{% set ns = namespace()%}
<tr><th>סימון</th><th>סוג</th><th>ליטרים</th><th>סידורי</th></tr>
{% for item in gas_store %}
{% for liter in gas_store[item] %}
{% for i in range(gas_store[item][liter]['quantity']) %}
{% if i < gas_store[item][liter]['ids']|length %}
<tr><td><input class="checkbox" type="checkbox"></td><td>{{item}}</td><td>{{liter}}</td><td>{{gas_store[item][liter]['ids'][i]}}</td></tr>
{% else %}
<tr><td><input class="checkbox" type="checkbox"></td><td>{{item}}</td><td>{{liter}}</td><td><input class="gsign_inpt" size="6" name="" placeholder="ללא"></td></tr>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
<tr>
    <td colspan="5"><button class="btn btn-danger btn-lg">זיכוי מחסן</button></td>
</tr>
{% endblock %}