{% extends 'layout/layout.html' %}
{% block body %}
{% include 'layout/search.html' %}
<tr><th colspan="5">החתמת מחסן דלק</th></tr>
{% set ns = namespace(pid="")%}
<tr><th>סוג</th><th>ליטרים</th><th>סידורי</th></tr>
{% for item in gas_store %}
{% set ns.pid='q' %}
{% for liter in gas_store[item] %}
{% for id in gas_store[item]['ids'] %}
<tr><td>{{item}}</td><td>{{liter}}</td></tr>
{% endfor %}
{% endfor %}
{% endfor %}
<tr>
    <td colspan="2"><button class="btn btn-success btn-lg">חתימה למחסן</button></td>
    <td colspan="2"><button class="btn btn-danger btn-lg">זיכוי מחסן</button></td>
</tr>
{% endblock %}