{% extends 'layout/layout.html' %}
{% block body %}
<tr><th colspan="5">זיכוי כ. דלק</th></tr>
<form method="POST">
{% if data.docs %}
    <tr><td colspan="5">{{data.docs[0].id}} {{data.docs[0].name}} {{data.docs[0].last_name}}</td></tr>
    <input type="hidden" name="id" value="{{data.docs[0].id}}">
    {% for doc in data.docs %}
    {% for l in doc['items'] %}
    <tr>
        <td>{{l.type}}</td>
        <td>{{l.serial}}</td>
        <td><input class="form-check-input" type="checkbox" name="{{doc.date}}|{{l.type}}|{{l.serial}}"></td>
    </tr>
    {% endfor %}
    {% endfor %}
    <tr>
        <td><button type="submit" class="btn btn-lg btn-success">אישור</button> </td>
        <td></td>
        <td><button type="button" class="btn btn-lg btn-danger" onclick="history.back()'">חזור</button> </td>
    </tr>
{% else %}
    <tr><th>בחר מרשימה</th><th>הזן מס אישי</th></tr>
    <tr>
        <td>
            <select class="sign_inpt" name="full_name" id="full_name" onchange="update_id(this.value)">
                <option style="display:none" value="" selected>בחר חייל</option>
                {% for u in users %}
                <option value="{{u.id}}">{{u.name}} {{u.last_name}}</option>
                {% endfor %}
            </select>
        </td>
        <td colspan="5"><input class="sign_inpt" size="8" type="number" name="id" id="id" placeholder="מספר אישי" onchange="get_info(this.value)" required autofocus></td>
    </tr>
    {% if data.msg %}
    <tr><td colspan="5"><label style="color:red;">{{data.msg}}</label></td></tr>
    {% endif %}
{% endif %}
</form>
{% endblock %}