{% extends 'layout/layout.html' %}
{% block body %}
<tr><th colspan="5">זיכוי כ. דלק</th></tr>
{% if data.docs %}
<form method="POST">
    <tr><td colspan="5">{{data.docs[0].id}} {{data.docs[0].name}} {{data.docs[0].last_name}}</td></tr>
    <input type="hidden" name="id" value="{{data.docs[0].id}}">
    <tr><th>סוג</th><th>כמות מוחתם</th><th>כמות לזיכוי</th><th>תמונה</th></tr>
    {% for doc in data.docs %}
    {% for k in doc %}
    {% if k in ['בנזין', 'סולר', 'אוריאה'] %}
    {% for l in doc[k] %}
    {% if doc[k][l]['quantity'] > 0 %}
    <tr>
        <td>{{k}} {{l}}</td><td>{{doc[k][l]['quantity']}}</td><td><input min="1" max="{{doc[k][l]['quantity']}}" class="sign_inpt" type="number" name="{{k}}|{{l}}|{{doc.doc_id}}" placeholder="כמות לזיכוי"></td>
        <td>{% if doc.photo %}<button type="button" onclick="location.href='/static/img/gas/{{doc.photo}}.jpeg'">פתח</button>{% endif %}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    <tr>
        <td><button type="submit" class="btn btn-lg btn-success">אישור</button> </td>
        <td colspan="2"></td>
        <td><button type="button" class="btn btn-lg btn-danger" onclick="location.href='/ret_gas'">חזור</button> </td>
    </tr>
</form>
{% else %}
<form method="POST">
    <tr>
        <td colspan="5">
            {% include 'layout/fulname_autocomplete.html' %}
        </td>
    </tr>
    <tr><td colspan="5"><button class="btn btn-success btn-lg">אישור</button> </td> </tr>
    {% if data.msg %}
    <tr><td colspan="5"><label style="color:red;">{{data.msg}}</label></td></tr>
    {% endif %}
</form>
{% endif %}
{% endblock %}