<tr><td colspan="10">{{data.rank}} {{data.name}} {{data.last_name}} | {{data.id}} | {{data.phone}} | {{data.department}}</td></tr>
<tr>
{% for item in doc_items %}
    <th width="20%">{{dictionary[item]}}</th>
{% endfor %}
</tr>
{% for doc in data.docs %}
{% for line in doc['items'] %}
{% set idx=0 %}
<tr>
{% for item in doc_items %}
    <td>
        {% if item != 'to_ret' %}
        {{line[item]}}
        {% else %}
        <input type="number" min="1" max="{{line['quantity']}}" name="{{doc['date']}}|{{idx}}" value="">
        {% endif %}
    </td>
{% endfor %}
</tr>
{% set idx=idx+1 %}
{% endfor %}
{% endfor %}