<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>החתמת ציוד גדוד ניוד</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="display-1">
<table id="inv_tb" class="table text-center table-striped" style="margin-left:auto;margin-right:auto;">
    <tr><td colspan="5"><input type="text" placeholder="חיפוש" onchange="scroll_to_row(this.value)"></td></tr>
{% set ns = namespace(last_id='') %}
{% for doc in inv %}
    {% if doc.id!=ns.last_id %}
    <tr ondblclick="openNewWindow(location.href='/sign?return=&id={{doc.id}}');">
        <th colspan="10">{{doc.last_name}} {{doc.name}} {{doc.id}}</th>
    </tr>
    <tr>
        {% for k in doc['items'][0] %}
        <th>{{dictionary[k]}}</th>
        {% endfor %}
    </tr>
    {% endif %}
    {% for line in doc['items'] %}
    <tr>
        {% for k in line %}
        <td>{{line[k]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% set ns.last_id = doc.id %}
{% endfor %}
    <tr><td colspan="10"><button type="button" class="btn btn-warning btn-lg" onclick="location.href='/'">חזרה</button></td></tr>
</table>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>