{% extends 'layout/layout.html' %}
{% block body %}
<tr>
    <th>פריט</th>
    <th>כמות</th>
    <th>הערה</th>
</tr>
{% for doc in user.docs %}
{% for item in doc['items'] %}
<tr>
    <td>{{item.description}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.note}}</td>
</tr>
{% endfor %}
{% endfor %}
{% if user['sign'] %}
<form method="POST" id="main_form">
    <input type="hidden" name="sign" value="true">
</form>
<tr><td colspan="5"><button type="button" onclick="sign_doc()" class="btn btn-lg btn-success">חתימה</button> </td></tr>
{% else %}
<tr><th colspan="5">מאושר</th></tr>
{% endif %}
{% endblock %}