<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>החתמת ציוד גדוד ניוד</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="display-3">
    <form method="POST">
        <table class="table table-bordered table-striped text-center" style="margin-left:auto;margin-right:auto;">
            <tr><td colspan="10"><img src="static/img/Pakar.svg.png" height="100"></td></tr>
        {% if data %}
            {% if data.department == 'לוגיסטיקה' %}
            {% include 'toolbar.html' %}
            {% endif %}
            {% if data.docs %}
            {% include 'doc.html' %}
            {% else %}
                <tr>
                    <td colspan="10">לא נמצאו טפסים לחתימה</td>
                </tr>
            {% endif %}
        {% else %}
        <tr>
            <td colspan="10">
                <label for="idinpt">מס אישי</label><input type="number" id="idinpt" name="id" placeholder="הזן מס אישי" autofocus>
            </td>
        </tr>
            <tr><td colspan="10">{{msg}}</td></tr>
        {% endif %}
        </table>
    </form>
</body>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>