<tr>
  <td colspan="10">
    <button type="button" onclick="openNewWindow('/sign')" class="btn btn-success btn-lg">החתמה על ציוד</button>
    <button type="button" onclick="openNewWindow('/sign?return=')" class="btn btn-warning btn-lg">הזדכות על ציוד</button>
  </td>
</tr>
<tr>
  <td colspan="10">
    <button type="button" onclick="location.href='/inv'" class="btn btn-primary btn-lg">רשימת ציוד מלאה</button>
    <!--<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
      טפסים נוספים
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
  </div>-->
  </td>
</tr>