<input class="search_inpt" name="full_name" id="search_name" list="full_name" onchange="update_id(this.value)" placeholder="חיפוש שם" required>
    <datalist id="full_name">
        {% set ns = namespace(department="~")%}
        {% for u in users %}
        {% if ns.department != u.department %}
        {% if ns.department != "~" %}
        </optgroup>
        {% endif %}
        <optgroup label="{{u.department}}">
        {% endif %}
        {% set ns.department = u.department %}
            <option value="{{u.id}}">{{u.name}} {{u.last_name}}</option>
        {% if loop.index == users|length %}
        </optgroup>
        {% endif %}
        {% endfor %}
    </datalist>
<input type="hidden" name="id" id="id">
<input type="hidden" name="name" id="name">
<input type="hidden" name="last_name" id="last_name">
<input type="hidden" name="phone" id="phone">
<input type="hidden" name="rank" id="rank">