<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>החתמת ציוד גדוד ניוד</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="display-3">
    <table id="main_tb" class="table table-bordered table-striped text-center" style="margin-left:auto;margin-right:auto;">
        <tr><td colspan="10"><img src="static/img/Pakar.svg.png" height="100"></td></tr>
        {% if user %}
        {% include 'layout/toolbar.html' %}
        {% endif %}
        {% block body %}
        {% endblock %}
    </table>
</body>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</html>